@model IEnumerable<ECommerceMVC.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Sản Phẩm";
    Layout = "_DanhSachHangHoa";
}

<h1>Sản Phẩm</h1>
<!-- Single Page Header start -->
@section BreadCum {
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cửa Hàng</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a asp-controller="KhachHang" asp-action="DangNhap">Đăng Nhập</a></li>
        <li class="breadcrumb-item active text-white">Cửa Hàng</li>
    </ol>
</div>
}
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
@await Html.PartialAsync("ProductItem", Model)
<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">
        <a href="#" class="rounded">&laquo;</a>
        <a href="#" class="active rounded">1</a>
        <a href="#" class="rounded">2</a>
        <a href="#" class="rounded">3</a>
        <a href="#" class="rounded">4</a>
        <a href="#" class="rounded">5</a>
        <a href="#" class="rounded">6</a>
        <a href="#" class="rounded">&raquo;</a>
    </div>
</div>
<!-- Fruits Shop End-->

